
.title-page{
	text-align: center;
	margin-bottom: 30px;
	h3{
		font-size: 30px;
		font-weight: bold;
		@include down(md){
			font-size: 20px;
		}
	}
}

.banner{
	a{
		width: 100%;
		@include down(md){
			margin-top: 62px;
		}
		img{
			width: 100%;
		}
	}
}

.new-product{
	padding: 20px 0 50px;
	.regular1{
		margin: 0 -15px;
		.slick-slide{
			margin: 0;
			padding: 0 15px;
		}
		@include down(xs){
			margin: 0 -5px;
			.slick-slide{
				padding: 0 5px;
			}
		}
		.slick-dots{
			>li{
				>button{
					&:before{
						opacity: 1;
						font-size: 15px;
						color: rgba($black, 0.2);
					}
				}
				&.slick-active{
					>button{
						&:before{
							color: $red;
						}
					}
				}
			}
		}
	}
}

.box-product{
	margin-bottom: 40px;
	.pic-prd{
		position: relative;
		>img{
			width: 100%;
		}
		>ul{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			background: rgba($black, 0.3);
			display: flex;
			transition: all .5s ease;
			transform: scale(0);
			opacity: 0;
			visibility: hidden;
			align-items: center;
			justify-content: center;
			>li{
				>a{
					color: #fff;
					font-size: 20px;
					width: 40px;
					height: 40px;
					background: #49b3d7;
					border-radius: 5px;
					line-height: 40px;
					margin: 0px 5px;
				}
				&:hover{
					>a{
						background: #fff;
						color: #49b3d7;
						border: 1px solid;
					}
				}
				&:last-child{
					>a{
						background: $red;
					}
					&:hover{
						>a{
							background: #fff;
							color: $red;
							border: 1px solid;
						}
					}
				}
			}
		}
		.logo-new{
			position: absolute;
			top: 5px;
			right: 5px;
		}
	}
	.txt-prd{
		padding-top: 10px;
		>a{
			color: $black;
			font-size: 15px;
			>h5{
				font-weight: 600;
			}
		}
		h6{
			font-size: 15px;
			font-weight: bold;
			float: left;
			span{
				margin-left: 10px;
				color: #999999;
				font-weight: 400;
				text-decoration: line-through;
				font-style: italic;
				@include down(xs){
					margin-left: 15px;
				}
			}
		}
		h4{
			font-size: 15px;
			float: right;
			background: $red;
			display: inline-block;
			padding: 4px 8px;
			margin: 0;
			color: #fff;
			border-radius: 5px;

		}
	}
	&:hover{
		.pic-prd{
			>ul{
				transform: scale(1);
				visibility: visible;
				opacity: 1;
			}
		}
		.txt-prd{
			>a{
				color: $red;
			}
		}
	}
}

.promotion{
	padding: 30px 0 0;
	.pic-promotion{
		>img{
			width: 100%;
		}
		position: relative;
		.txt-promotion{
			position: absolute;
			text-align: center;
			top: 50%;
			width: 100%;
			transform: translateY(-50%);
			h2{
				font-size: 36px;
				margin: 0 0 15px;
				@include down(md){
					font-size: 22px;
				}
			}
			.btn-muangay{
				>a{
					font-size: 16px;
					color: $black;
					font-weight: 500;
					position: relative;
					&:after{
						content: '';
						position: absolute;
						height: 1px;
						width: 50px;
						top: 50%;
						background: #333;
						right: 100%;
						transition: all .5s ease;
						margin: 0px 10px;
					}
				}
				&:hover{
					>a{
						color: $red;
						&:after{
							background: $red;
						}
					}
				}
			}

		}
	}
}

.join{
	background: url(../images/backgroud/bg-1.jpg) no-repeat;
	background-size: cover;
	padding: 60px 0 ;
	form{
		.input-group{
			input{
				background: transparent;
				border: 0;
				border-bottom: 2px solid $black;
				border-radius: 0;
				box-shadow: none;
				font-size: 15px;
			}
			.input-group-btn{
				button{
					border-radius: 0;
					color: $black;
					background: $color;
					border: 1px solid $color;
					margin-left: 30px;
					padding: 7px 20px;
					transition: all .5s ease;
					&:hover{
						color: $color;
						background: transparent;
						border: 1px solid;
					}
				}
			}
		}
	}
}

.prd-promo{
	padding: 50px 0;
	&-1{
		margin-top: 30px;
		>ul{
			text-align: center;
			border-bottom: 0;
			>li{
				display: inline-block;
				float: unset;
				>a{
					border: 0 !important;
					background-color: unset !important;
					padding: 10px 25px;
					border-radius: 0;	
					@include down(xs){
						padding: 10px 5px;
					}				
					.change-icon{
						position: relative;
						display: flex;
						align-items: center;
						margin-bottom: 10px;
						justify-content: center;
						justify-items: center;
						&-1{
							opacity: 1;
							visibility: visible;
							transition: all .5s ease;
						}
						&-2{
							position: absolute;
							top: 0;
							opacity: 0;
							transition: all .5s ease;
							visibility: hidden;
						}
					}
					p{
						font-size: 15px;
						color: $black;

					}
				}
				&.active{
					>a, &:hover>a{
						border: 0;
						.change-icon{
							&-1{
								opacity: 0;
								visibility: hidden;
							}
							&-2{
								opacity: 1;
								visibility: visible;
							}
						}
						p{
							color: $color;
						}
					}
				}
			}
		}
	}
}

.benefit{
	padding: 50px 0;
	.box-bene{
		background: $blue;
		padding: 45px 20px;
		text-align: center;
		.pic-bene{
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			&-1{
				border: 7px solid transparent;
			}
			&-2{
				position: absolute;
				top: 0;
				border: 0;
				transition: all .5s ease;
				visibility: hidden;
				opacity: 0;
				border-radius: 50%;
				border: 7px solid transparent;

			}
		}
		h4{
			font-weight: 600;
			margin-top: 30px;
		}
		p{
			height: 22px;
		}
		&:hover{
			.pic-bene{
				&-2{
					visibility: visible;
					opacity: 1;
					border: 7px solid rgba(0,0,0,0.3);
					border-radius: 50%;
				}
			}
		}
		&-2{
			background: $color;
		}
	}
	@include down(xs){
		.container-fluid{
			padding: 0;
			width: 100%;
		}
	}
}

.news{

}
.box-news{
	margin-bottom: 40px;
	>a{
		width: 100%;		
		>img{
			width: 100%;
			opacity: 1;
			transition: all .5s ease;
		}
	}
	h6{
		margin: 15px 0 0;
		font-weight: bold;
	}
	>a{
		font-weight: bold;
		h4{
			color: $black;
			line-height: 1.4;
			overflow: hidden;
			-webkit-transition: all .5s ease;
			margin: 15px 0 0 ;
			transition: all .5s ease;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
	}
	p{
		overflow: hidden;
		margin: 15px 0 0 ;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		color: #666666;
		line-height: 1.6;
	}
	.btn-detail{
		margin: 15px 0 0;
		a{
			font-size: 16px;
			color: $black;
			font-weight: 500;
			position: relative;
			margin-left: 60px;
			&:after{
				content: '';
				position: absolute;
				height: 1px;
				width: 50px;
				top: 50%;
				background: $black;
				right: 100%;
				transition: all .5s ease;
				margin: 0px 10px;
			}
		}
	}
	&:hover{
		>a{
			img{
				opacity: .6;
			}
		}
		>a{
			h4{
				color: $color;
			}
		}
		.btn-detail{
			>a{
				color: $color;
				margin-left: 80px;
				&:after{
					background: $color;
				}
			}
		}
	}
}

.unknown-1{
	background: #e1e1e1;
	padding: 50px 0;
	.slick-list{
		.slick-track{
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			.ed-logo-xxx{
				>img{
					margin: auto;
					max-width: 80%;
				}
			}
		}
	}
}
